<#@ template debug="false" hostspecific="false" language="C#" compilerOptions="optimize+" #>
<#@ assembly name="System.Core" #>
<#@ assembly name="System.Linq" #>
<#@ assembly name="$(TargetDir)SCurry.Builders.dll" #>
<#@ import namespace="System.Linq" #>
<#@ import namespace="SCurry.Builders" #>
/*
   ___ ___ _  _ ___ ___    _ _____ ___ ___     ___ ___  ___  ___ 
  / __| __| \| | __| _ \  /_\_   _| __|   \   / __/ _ \|   \| __|
 | (_ | _|| .` | _||   / / _ \| | | _|| |) | | (_| (_) | |) | _| 
  \___|___|_|\_|___|_|_\/_/ \_\_| |___|___/   \___\___/|___/|___|

*/

namespace SCurry.Tests
{      
    public static class TestFunctions
    {
        public static int Zero() => 0;
        public static int Id(int i) => i;
<#    
    for(int i = 2; i <= CurryBuilder.MaxInputArgumentsCount; i++) 
    { 
#>
        <#=
            Generate(i) #>
<#
    } 
#>
    }
}
<#+    
    string Generate(int count)
    {
        var args = string.Join(", ",
            System.Linq.Enumerable.Range(1, count).Select(x => "int arg" + x));

        var body = string.Join(" + ",
            System.Linq.Enumerable.Range(1, count).Select(x => "arg" + x));

        return $"public static int Add({args}) => {body};";
    }
#>